.App {
  font-family: sans-serif;
  text-align: center;
}
.banner {
  background-color: #464660;

  display: flex;
  justify-content: center;
  margin: 1rem;
}
h2 {
  padding: 3rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.banner:hover {
  background-color: #628395;
}
.bt {
  background-color: #ebebf3;
}
.bt2 {
  background-color:transparent;
  border: 1 px solid black;
  
  margin-left: 0px;
}


.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: whitesmoke;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin: 10px;
}







.p {
  text-decoration: line-through;
  display: inline-flex;
}
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.Container {
  position: relative;
}
